---
name: ci

"on":
  pull_request:
  push:
    branches: [main]

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@5.0.8
    with:
      gems: "htauth"
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: "lint-unit"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "debian-11"
          - "debian-12"
          - "centos-stream-8"
          - "centos-stream-9"
          - "ubuntu-2004"
          - "ubuntu-2204"
        suite:
          - "default"
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install Chef
        uses: actionshub/chef-install@3.0.1
      - name: Dokken
        uses: actionshub/test-kitchen@3.0.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
